# .gitignore
#
# Virtual Environment
venv/

# Environment Variables/Secrets
.env

# Python cache and build files
__pycache__/
*.pyc
*.egg-info/     # This will ignore all the information going into the github